---
import { getCollection } from "astro:content";
import Main from "../../layout/main.astro";
import { render } from "astro:content";
import type { CollectionEntry } from "astro:content";

interface Props {
  exp: CollectionEntry<"experiences">;
}

export async function getStaticPaths() {
  const experiences = await getCollection("experiences");
  return experiences.map((exp) => ({
    params: { id: exp.slug },
    props: { exp },
  }));
}

const { exp } = Astro.props;
const { Content } = await render(exp);
const { slug } = exp;
const { title } = exp.data;
---

<Main title={title} simple={true} subUrl="#experiences">
  <div class="min-w-screen text-center prose prose-invert py-16 px-10">
    <h3 transition:name={slug + "-title"} transition:animate="slide"></h3>
    <Content />
  </div>
</Main
