---
import Main from "../layout/main.astro";
import Home from "../components/home.astro";
import About from "../components/about.astro";
import Experiences from "../components/experiences.astro";
---

<Main title="William Vargas - Portafolio" simple={false}>
  <Home />
  <About />
  <Experiences />
</Main>
