<section class="h-screen grid text-center" id="about">
  <div class="pt-16 prose prose-invert mx-auto">
    <h1>About</h1>
    <p>
      I architect high-performance backend solutions, while crafting intuitive
      UIs with my dual expertise in RESTful APIs and modern frontend development
      allows me to bridge the gap between system reliability and user
      experience.
    </p>
    <p>
      Currently expanding my toolkit for serverless architectures and optimizing
      full-stack workflows. Passionate about clean code, scalable databases, and
      responsive interfaces that work together seamlessly.
    </p>
  </div>
  <div class="pt-16">
    <div class="prose prose-invert mx-auto">
      <h1>Skills</h1>
    </div>
    <div class="overflow-hidden relative mx-auto w-2/3 pt-16">
      <div class="flex justify-center items-center gap-12 anima">
        <img src="express.svg" alt="Express" />
        <img src="postgresql.svg" alt="PostgreSQL" />
        <img src="tailwindcss.png" alt="Tailwind CSS" />
        <img src="django.png" alt="Django" />
        <img src="react.png" alt="React" />
        <img src="javascript.png" alt="JavaScript" />
        <img src="typescript.png" alt="TypeScript" />
        <img src="node.png" alt="Node.js" />
        <img src="next-js.png" alt="Next.js" />
        <img src="firebase.png" alt="Firebase" />
        <img src="docker.png" alt="Docker" />
        <img src="express.svg" alt="Express" />

        <!-- SECOND TRACK -->

        <img src="postgresql.svg" alt="PostgreSQL" />
        <img src="tailwindcss.png" alt="Tailwind CSS" />
        <img src="django.png" alt="Django" />
        <img src="react.png" alt="React" />
        <img src="javascript.png" alt="JavaScript" />
        <img src="typescript.png" alt="TypeScript" />
        <img src="node.png" alt="Node.js" />
        <img src="next-js.png" alt="Next.js" />
        <img src="firebase.png" alt="Firebase" />
        <img src="docker.png" alt="Docker" />
      </div>
    </div>
  </div>
</section>

<style>
  .anima {
    animation: anima 10s both infinite;
    animation-direction: alternate;
  }

  .anima > img {
    width: 100px;
    align-items: center;
  }

  @keyframes anima {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
