<section class="h-screen grid text-center" id="about">
  <div class="pt-16 prose prose-invert mx-auto">
    <h1>About Me</h1>
    <p>
      I architect high-performance backend solutions, while crafting intuitive
      UIs with my dual expertise in RESTful APIs and modern frontend development
      allows me to bridge the gap between system reliability and user experience
    </p>
    <p>
      Currently expanding my toolkit for serverless architectures and optimizing
      full-stack workflows. Passionate about clean code, scalable databases, and
      responsive interfaces that work together seamlessly
    </p>
  </div>
  <div class="pt-16">
    <div class="prose prose-invert mx-auto">
      <h1>Skills</h1>
    </div>
    <div class="wrapper">
      <div class="skill" style="--n:1">
        <img src="/tecnologies/express.svg" alt="Express" />
      </div>
      <div class="skill" style="--n:2">
        <img src="/tecnologies/postgresql.svg" alt="PostgreSQL" />
      </div>
      <div class="skill" style="--n:3">
        <img src="/tecnologies/tailwindcss.png" alt="Tailwind CSS" />
      </div>
      <div class="skill" style="--n:4">
        <img src="/tecnologies/django.png" alt="Django" />
      </div>
      <div class="skill" style="--n:5">
        <img src="/tecnologies/react.png" alt="React" />
      </div>
      <div class="skill" style="--n:6">
        <img src="/tecnologies/javascript.png" alt="JavaScript" />
      </div>
      <div class="skill" style="--n:7">
        <img src="/tecnologies/typescript.png" alt="TypeScript" />
      </div>
      <div class="skill" style="--n:8">
        <img src="/tecnologies/node.png" alt="Node.js" />
      </div>
      <div class="skill" style="--n:9">
        <img src="/tecnologies/next-js.png" alt="Next.js" />
      </div>
      <div class="skill" style="--n:10">
        <img src="/tecnologies/firebase.png" alt="Firebase" />
      </div>
      <div class="skill" style="--n:11">
        <img src="/tecnologies/docker.png" alt="Docker" />
      </div>
    </div>
  </div>
</section>
<style>
  .wrapper {
    --animation-duration: 30s;
    --total-items: 11;
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }

  div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @keyframes scrollleft {
    to {
      left: -200px;
    }
  }

  .skill {
    width: 200px;
    height: 100px;
    margin: auto 0;
    position: absolute;
    left: calc(200px * var(--total-items));
    animation: scrollleft var(--animation-duration) linear infinite;
    animation-delay: calc(
      var(--animation-duration) / var(--total-items) *
        (var(--total-items) - var(--n)) * -1
    );
  }
</style>
