<main class="flex justify-center items-center w-full text-center">
  <section
    class="h-screen prose prose-invert relative w-full max-w-screen-md flex flex-col items-center justify-center"
  >
    <h1 class="text-6xl pt-16">William Vargas</h1>
    <h2 class="write-machine">Backend Developer | Full-Stack Capabilities</h2>
    <p>Building robust systems with elegant interfaces</p>

    <blockquote class="mt-auto">
      <p>First solve the problem, then write the code</p>
    </blockquote>
  </section>
</main>
<style>
  .gif-container {
    margin: 0;
    mix-blend-mode: multiply;
    filter: contrast(1.5) brightness(1.2);
  }

  /* Máquina de escribir */
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 32ch;
    }
  }

  @keyframes blink {
    50% {
      border-right-color: transparent;
    }
  }

  .write-machine {
    display: inline-block;
    overflow: hidden;
    border-right: 2px solid white;
    white-space: nowrap;
    animation:
      typewriter 4s steps(43) forwards,
      blink 0.75s infinite;
  }
</style>
