<nav id="navbar" class="flex justify-between pt-2 fixed w-full">
  <a href="/" class="pl-10">
    <img
      class="border-3 rounded-full w-16"
      src="w-icon.png"
      alt="logo William Vargas"
    />
  </a>
  <ul class="flex gap-4 my-auto pr-10">
    <li><a href="#">About Me</a></li>
    <li><a href="#">Proyects</a></li>
    <li><a href="#">Contacts</a></li>
  </ul>
</nav>